html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
body {
  display: block;
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
}
hr {
  display: block;
  -webkit-box-sizing: content-box!important;
  -moz-box-sizing: content-box!important;
  box-sizing: content-box!important;
  height: 1px;
  margin: 15px 0!important;
}
body *, .wrapper *, .z-container *, .z-container-fluid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body *:before, .wrapper *:before, .z-container *:before, .z-container-fluid *:before,
body *:after, .wrapper *:after, .z-container *:after, .z-container-fluid *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noPadding { padding: 0!important; }
.noMargin { margin: 0!important; }
.noBorder {
  border: none!important;
  border-top: 0!important;
  border-right: none!important;
  border-bottom: none!important;
  border-left: none!important;
}
.rounded0{border-radius: 0px !important;}
.rounded5{border-radius: 5px !important;} .rounded10{border-radius: 10px !important;}
.rounded15{border-radius: 15px !important;} .rounded20{border-radius: 20px !important;}
.rounded25{border-radius: 25px !important;} .rounded30{border-radius: 30px !important;}
.rounded35{border-radius: 35px !important;} .rounded40{border-radius: 40px !important;}
.rounded45{border-radius: 45px !important;} .rounded50{border-radius: 50px !important;}
.wAuto{width: auto;}
.z-btn {
  display: inline-block;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, .2)!important;
  cursor: pointer;
  border-radius: 0!important;
  padding: 10px;
  min-width: auto;
  outline: none!important;
  /*box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);*/
}
.z-btn.btn-rounded { border-radius: 10px!important; }
.z-btn:active { -webkit-transform: translateY(1px); transform: translateY(1px); /*box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);*/ }
.z-btn.disabled:active, .z-btn.disabled {
  transform: none!important;
  color: rgba(0,0,0,0.2)!important;
  cursor: default!important;
}
.pull-right { float: right!important; }
.pull-left { float: left!important; }
.clear-float { float: none!important; clear: both; }
@media (max-width: 992px) {
  .pull-right.res,
  .pull-left.res { float: none!important; clear: both; }
}
.clear {  /*display: inline-block; clear: both;*/ margin: 0 auto; padding: 5px 0; }
.square { border-radius: 0!important; }
.border { border: solid 1px #c2c2c2; }
.border-box { border: solid 1px #999999; }
.borderBottom1 { border-bottom: 1px solid #ccc; }
.boxShadow { box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2); }
.noShadow { box-shadow: none!important; }
.text-shadow { text-shadow: 0 0 5px rgba(0, 0, 0, .5)!important; }
.noTransform { text-decoration: none!important; text-transform: none!important; }
.text-decoration{text-decoration: underline !important;}
/* ----- */
.text-left { text-align: left!important; }
.text-right { text-align: right!important; }
.text-center { text-align: center!important; }
.text-justify { text-align: justify!important; }
.text-nowrap { white-space: nowrap!important; }
.text-lowercase { text-transform: lowercase!important; }
.text-uppercase, .initialism { text-transform: uppercase!important; }
.text-capitalize { text-transform: capitalize!important; }
.text-italic{ font-style: italic !important; }
.text-bold{font-weight:bold;}
.text-600{ font-weight:600; }
.text-normal{font-weight: normal !important;}
.text-500{font-weight: 500 !important;} .text-600{font-weight: 600 !important;}
.text-700{font-weight: 700 !important;} .text-800{font-weight: 800 !important;}
.s10 { font-size: 10px !important; }.s15 { font-size: 15px !important; }
.s20 { font-size: 20px !important; }.s25 { font-size: 25px !important; }
.s28 { font-size: 28px !important;}
.s30 { font-size: 30px !important; }.s35 { font-size: 35px !important; }
.s40 { font-size: 40px !important; }.s45 { font-size: 45px !important; }
.s50 { font-size: 50px !important; }.s55 { font-size: 55px !important; }
.s60 { font-size: 60px !important; }.s65 { font-size: 65px !important; }
.s70 { font-size: 70px !important; }.s75 { font-size: 75px !important; }
.s80 { font-size: 80px !important; }.s85 { font-size: 85px !important; }
.s90 { font-size: 90px !important; }.s95 { font-size: 95px !important; }
.s100 { font-size: 100px !important; }
.form-control::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
}
.box-sizing{ box-sizing: border-box !important;}
.padd2{ padding:2px !important; } .padd5{ padding:5px !important;}
.padding10{
  padding: 10px;
}
@media (max-width: 992px) {/*.s55, .s60, .s65, .s70, .s75, .s80, .s85, .s90, .s95, .s100*/
  .s10, .s15, .s20, .s25, .s30, .s35, .s40, .s45, .s50
   {
    font-size: 15px!important;
    font-weight: normal!important;
    line-height: 1.2!important;
  }
}
.s12nr { font-size: 12px!important; }
.s10nr { font-size: 10px!important; }.s15nr { font-size: 15px!important; }
.s18nr { font-size: 18px!important; }
.s20nr { font-size: 20px!important; }.s25nr { font-size: 25px!important; }
.s30nr { font-size: 30px!important; }.s35nr { font-size: 35px!important; }
.s40nr { font-size: 40px!important; }.s45nr { font-size: 45px!important; }
.s50nr { font-size: 50px!important; }.s55nr { font-size: 55px!important; }
.s60nr { font-size: 60px!important; }.s65nr { font-size: 65px!important; }
.s70nr { font-size: 70px!important; }.s75nr { font-size: 75px!important; }
.s80nr { font-size: 80px!important; }.s85nr { font-size: 85px!important; }
.s90nr { font-size: 90px!important; }.s95nr { font-size: 95px!important; }
.s100nr { font-size: 100px!important; }
.cWhite { color: #ffffff!important; }
.cBlack { color: #000000!important; }
.cDark { color: #323232!important; }
.cBlue { color: #385e9d!important; }
.cLightBlue { color: #8dd6ff!important;}
.cBlueZenddo{ color: #037db6 !important; }
.cDarkBlue { color: #375467!important; }
.cRed { color: #d9473a!important; }
.cYellow { color: #eae040!important; }
.cGreen { color: #6ab65b!important; }
.cLightGrey { color: #f0f0f6!important; }
.cGrey { color: #504f44!important; }
.cGray { color: #666666!important; }
.cDarkGrey { color: #717171!important; }
.cOrange { color: #ff8d00!important; }
.bgTransparent { background-color: transparent!important; }
.bgWhite { background-color: #ffffff!important; }
.bgBlack { background-color: #000000!important; }
.bgDark { background-color: #323232!important; }
.bgBlue { background-color: #385e9d!important; }
.bgLightBlue { background-color: #0099cc!important; }
.bgDarkBlue { background-color: #375467!important; }
.bgRed { background-color: #d9473a!important; }
.bgYellow { background-color: #eae040!important; }
.bgGreen { background-color: #6ab65b!important; }
.bgLightGrey { background-color: #f0f0f4!important; }
.bgGrey { background-color: #504f44!important; }
.bgGray { background-color: #666666!important; }
.bgDarkGrey { background-color: #717171!important; }
.bgOrange { background-color: #ff8d00!important; }
.bgLightOrange { background-color: #ffb835 !important;}
.bgWhiteClear { background-color: rgba(255, 255, 255, .5)!important; }
.bgBlackClear { background-color: rgba(0, 0, 0, .5)!important; }
.bgDarkClear { background-color: rgba(50, 50, 50, .5)!important; }
.bgBlueZenddo{ background-color: #037db6 !important; }
.bgBlueClear { background-color: rgba(56, 94, 157, .5)!important; }
.bgLightBlueClear { background-color: rgba(0, 153, 204, .5)!important }
.bgDarkBlueClear { background-color: rgba(55, 84, 103, .5)!important; }
.bgRedClear { background-color: rgba(217, 70, 57, .5)!important; }
.bgYellowClear { background-color: rgba(235, 225, 65, .5)!important; }
.bgGreenClear { background-color: rgba(106, 182, 91, .5)!important; }
.bgLightGreyClear { background-color: rgba(240, 240, 244, .8)!important; }
.bgGreyClear { background-color: rgba(80, 79, 68, .5)!important; }
.bgGrayClear { background-color: rgba(102, 102, 102, .5)!important; }
.bgDarkGreyClear { background-color: rgba(113, 113, 113, .5)!important; }
.bgOrangeClear { background-color: rgba(255, 141, 0, .5)!important; }
.hFull { height: 100%; }
.w80 { width: 80%; }
.h0  {height: 0px } .hAuto{ height: auto; }
.h20 { height: 20px; }.h25 { height: 25px; }
.h30 { height: 30px; }.h35 { height: 35px; }
.h40 { height: 40px; }.h45 { height: 45px; }
.h50 { height: 50px; }.h55 { height: 55px; }
.h60 { height: 60px; }.h65 { height: 65px; }
.h70 { height: 70px; }.h75 { height: 75px; }
.h80 { height: 80px; }.h85 { height: 85px; }
.h90 { height: 90px; }.h95 { height: 95px; }
.h100 { height: 100px; }.h150 { height: 150px; }
.h200 { height: 200px; }.h250 { height: 250px; }
.h300 { height: 300px; }.h350 { height: 350px; }
.h400 { height: 400px; }.h450 { height: 450px; }
.h500 { height: 500px; }.h550 { height: 550px; }
.h600 { height: 600px; }.h650 { height: 650px; }
.h700 { height: 700px; }.h750 { height: 750px; }
.h800 { height: 800px; }.h850 { height: 850px; }
.mh20 { max-height: 20px; }.mh25 { max-height: 25px; }
.mh30 { max-height: 30px; }.mh35 { max-height: 35px; }
.mh40 { max-height: 40px; }.mh45 { max-height: 45px; }
.mh50 { max-height: 50px; }.mh55 { max-height: 55px; }
.mh60 { max-height: 60px; }.mh65 { max-height: 65px; }
.mh70 { max-height: 70px; }.mh75 { max-height: 75px; }
.mh80 { max-height: 80px; }.mh85 { max-height: 85px; }
.mh90 { max-height: 90px; }.mh95 { max-height: 95px; }
.mh100 { max-height: 100px; }.mh150 { max-height: 150px; }
.mh200 { max-height: 200px; }.mh250 { max-height: 250px; }
.mh300 { max-height: 300px; }.mh350 { max-height: 350px; }
.mh400 { max-height: 400px; }.mh450 { max-height: 450px; }
.mh500 { max-height: 500px; }.mh550 { max-height: 550px; }
.mh600 { max-height: 600px; }.mh650 { max-height: 650px; }
.mh700 { max-height: 700px; }.mh750 { max-height: 750px; }
.mh800 { max-height: 800px; }.mh850 { max-height: 850px; }

.mw150 { max-width: 150px; }
@media (max-width: 768px) {
  /*.hFull { min-height: 600px!important; }*/
  .z-container-fluid.res{display:block; width:100%;}
}

.z-forceBlock {
  display: block!important;
  width: 100%!important;
  position: relative;
}
.z-block {
  display: table!important;
  width: 100%;
  position: relative;
}
.z-block.section{ border-top: solid 2px #b2b2b2; border-bottom: solid 2px #b2b2b2; }
.z-block.centered { width: auto; margin: 0 auto !important; }
.z-content {
  display: table-cell!important;
  height: auto!important;
  width: 100%!important;
}
.z-content-fluid {
  display: table-cell!important;
  height: auto!important;
  width: 1%!important;
}
.z-contentTop{ vertical-align: top; }
.z-contentMiddle { vertical-align: middle; }
.z-contentBottom { vertical-align: bottom; }
@media (max-width: 768px) {
  /*.hFull { min-height: 600px!important; }*/
  .z-content-fluid.res{display:table!important; width:100%!important;margin-bottom: 5px;}
}
.wrapper, .z-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.center{
  margin: 0 auto !important;
}
.margin5{margin: 5px !important;}
body:before, body:after,
.wrapper:before, .wrapper:after,
.z-container:before, .z-container:after {
  content: " ";
  display: table;
}
body:after,
.wrapper:after,
.z-container:after { clear: both; }
@media (min-width: 768px) {
  .wrapper, .z-container { width: 750px; }
}
@media (min-width: 992px) {
  .wrapper, .z-container { width: 970px; }
}
@media (min-width: 1200px) {
  .wrapper, .z-container { width: 1170px; }
}
.z-container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.z-container-fluid:before, .z-container-fluid:after {
  content: " ";
  display: table;
}
.z-container-fluid:after { clear: both; }
.z-row {
  margin-left: -15px;
  margin-right: -15px;
}
.z-row:before, .z-row:after {
  content: " ";
  display: table;
}
.z-row:after { clear: both; }
.z-col-xs-1, .z-col-sm-1, .z-col-md-1, .z-col-lg-1,
.z-col-xs-2, .z-col-sm-2, .z-col-md-2, .z-col-lg-2,
.z-col-xs-3, .z-col-sm-3, .z-col-md-3, .z-col-lg-3,
.z-col-xs-4, .z-col-sm-4, .z-col-md-4, .z-col-lg-4,
.z-col-xs-5, .z-col-sm-5, .z-col-md-5, .z-col-lg-5,
.z-col-xs-6, .z-col-sm-6, .z-col-md-6, .z-col-lg-6,
.z-col-xs-7, .z-col-sm-7, .z-col-md-7, .z-col-lg-7,
.z-col-xs-8, .z-col-sm-8, .z-col-md-8, .z-col-lg-8,
.z-col-xs-9, .z-col-sm-9, .z-col-md-9, .z-col-lg-9,
.z-col-xs-10, .z-col-sm-10, .z-col-md-10, .z-col-lg-10,
.z-col-xs-11, .z-col-sm-11, .z-col-md-11, .z-col-lg-11,
.z-col-xs-12, .z-col-sm-12, .z-col-md-12, .z-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.z-col-xs-1, .z-col-xs-2, .z-col-xs-3, .z-col-xs-4, .z-col-xs-5, .z-col-xs-6, .z-col-xs-7, .z-col-xs-8, .z-col-xs-9, .z-col-xs-10, .z-col-xs-11, .z-col-xs-12 {
  float: left;
}
.z-col-xs-1 {
  width: 8.33333%;
}
.z-col-xs-2 {
  width: 16.66667%;
}
.z-col-xs-3 {
  width: 25%;
}
.z-col-xs-4 {
  width: 33.33333%;
}
.z-col-xs-5 {
  width: 41.66667%;
}
.z-col-xs-6 {
  width: 50%;
}
.z-col-xs-7 {
  width: 58.33333%;
}
.z-col-xs-8 {
  width: 66.66667%;
}
.z-col-xs-9 {
  width: 75%;
}
.z-col-xs-10 {
  width: 83.33333%;
}
.z-col-xs-11 {
  width: 91.66667%;
}
.z-col-xs-12 {
  width: 100%;
}
.z-col-xs-pull-0 {
  right: auto;
}
.z-col-xs-pull-1 {
  right: 8.33333%;
}
.z-col-xs-pull-2 {
  right: 16.66667%;
}
.z-col-xs-pull-3 {
  right: 25%;
}
.z-col-xs-pull-4 {
  right: 33.33333%;
}
.z-col-xs-pull-5 {
  right: 41.66667%;
}
.z-col-xs-pull-6 {
  right: 50%;
}
.z-col-xs-pull-7 {
  right: 58.33333%;
}
.z-col-xs-pull-8 {
  right: 66.66667%;
}
.z-col-xs-pull-9 {
  right: 75%;
}
.z-col-xs-pull-10 {
  right: 83.33333%;
}
.z-col-xs-pull-11 {
  right: 91.66667%;
}
.z-col-xs-pull-12 {
  right: 100%;
}
.z-col-xs-push-0 {
  left: auto;
}
.z-col-xs-push-1 {
  left: 8.33333%;
}
.z-col-xs-push-2 {
  left: 16.66667%;
}
.z-col-xs-push-3 {
  left: 25%;
}
.z-col-xs-push-4 {
  left: 33.33333%;
}
.z-col-xs-push-5 {
  left: 41.66667%;
}
.z-col-xs-push-6 {
  left: 50%;
}
.z-col-xs-push-7 {
  left: 58.33333%;
}
.z-col-xs-push-8 {
  left: 66.66667%;
}
.z-col-xs-push-9 {
  left: 75%;
}
.z-col-xs-push-10 {
  left: 83.33333%;
}
.z-col-xs-push-11 {
  left: 91.66667%;
}
.z-col-xs-push-12 {
  left: 100%;
}
.z-col-xs-offset-0 {
  margin-left: 0%;
}
.z-col-xs-offset-1 {
  margin-left: 8.33333%;
}
.z-col-xs-offset-2 {
  margin-left: 16.66667%;
}
.z-col-xs-offset-3 {
  margin-left: 25%;
}
.z-col-xs-offset-4 {
  margin-left: 33.33333%;
}
.z-col-xs-offset-5 {
  margin-left: 41.66667%;
}
.z-col-xs-offset-6 {
  margin-left: 50%;
}
.z-col-xs-offset-7 {
  margin-left: 58.33333%;
}
.z-col-xs-offset-8 {
  margin-left: 66.66667%;
}
.z-col-xs-offset-9 {
  margin-left: 75%;
}
.z-col-xs-offset-10 {
  margin-left: 83.33333%;
}
.z-col-xs-offset-11 {
  margin-left: 91.66667%;
}
.z-col-xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  .z-col-sm-1, .z-col-sm-2, .z-col-sm-3, .z-col-sm-4, .z-col-sm-5, .z-col-sm-6, .z-col-sm-7, .z-col-sm-8, .z-col-sm-9, .z-col-sm-10, .z-col-sm-11, .z-col-sm-12 {
    float: left;
  }
  .z-col-sm-1 {
    width: 8.33333%;
  }
  .z-col-sm-2 {
    width: 16.66667%;
  }
  .z-col-sm-3 {
    width: 25%;
  }
  .z-col-sm-4 {
    width: 33.33333%;
  }
  .z-col-sm-5 {
    width: 41.66667%;
  }
  .z-col-sm-6 {
    width: 50%;
  }
  .z-col-sm-7 {
    width: 58.33333%;
  }
  .z-col-sm-8 {
    width: 66.66667%;
  }
  .z-col-sm-9 {
    width: 75%;
  }
  .z-col-sm-10 {
    width: 83.33333%;
  }
  .z-col-sm-11 {
    width: 91.66667%;
  }
  .z-col-sm-12 {
    width: 100%;
  }
  .z-col-sm-pull-0 {
    right: auto;
  }
  .z-col-sm-pull-1 {
    right: 8.33333%;
  }
  .z-col-sm-pull-2 {
    right: 16.66667%;
  }
  .z-col-sm-pull-3 {
    right: 25%;
  }
  .z-col-sm-pull-4 {
    right: 33.33333%;
  }
  .z-col-sm-pull-5 {
    right: 41.66667%;
  }
  .z-col-sm-pull-6 {
    right: 50%;
  }
  .z-col-sm-pull-7 {
    right: 58.33333%;
  }
  .z-col-sm-pull-8 {
    right: 66.66667%;
  }
  .z-col-sm-pull-9 {
    right: 75%;
  }
  .z-col-sm-pull-10 {
    right: 83.33333%;
  }
  .z-col-sm-pull-11 {
    right: 91.66667%;
  }
  .z-col-sm-pull-12 {
    right: 100%;
  }
  .z-col-sm-push-0 {
    left: auto;
  }
  .z-col-sm-push-1 {
    left: 8.33333%;
  }
  .z-col-sm-push-2 {
    left: 16.66667%;
  }
  .z-col-sm-push-3 {
    left: 25%;
  }
  .z-col-sm-push-4 {
    left: 33.33333%;
  }
  .z-col-sm-push-5 {
    left: 41.66667%;
  }
  .z-col-sm-push-6 {
    left: 50%;
  }
  .z-col-sm-push-7 {
    left: 58.33333%;
  }
  .z-col-sm-push-8 {
    left: 66.66667%;
  }
  .z-col-sm-push-9 {
    left: 75%;
  }
  .z-col-sm-push-10 {
    left: 83.33333%;
  }
  .z-col-sm-push-11 {
    left: 91.66667%;
  }
  .z-col-sm-push-12 {
    left: 100%;
  }
  .z-col-sm-offset-0 {
    margin-left: 0%;
  }
  .z-col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .z-col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .z-col-sm-offset-3 {
    margin-left: 25%;
  }
  .z-col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .z-col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .z-col-sm-offset-6 {
    margin-left: 50%;
  }
  .z-col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .z-col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .z-col-sm-offset-9 {
    margin-left: 75%;
  }
  .z-col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .z-col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .z-col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .z-col-md-1, .z-col-md-2, .z-col-md-3, .z-col-md-4, .z-col-md-5, .z-col-md-6, .z-col-md-7, .z-col-md-8, .z-col-md-9, .z-col-md-10, .z-col-md-11, .z-col-md-12 {
    float: left;
  }
  .z-col-md-1 {
    width: 8.33333%;
  }
  .z-col-md-2 {
    width: 16.66667%;
  }
  .z-col-md-3 {
    width: 25%;
  }
  .z-col-md-4 {
    width: 33.33333%;
  }
  .z-col-md-5 {
    width: 41.66667%;
  }
  .z-col-md-6 {
    width: 50%;
  }
  .z-col-md-7 {
    width: 58.33333%;
  }
  .z-col-md-8 {
    width: 66.66667%;
  }
  .z-col-md-9 {
    width: 75%;
  }
  .z-col-md-10 {
    width: 83.33333%;
  }
  .z-col-md-11 {
    width: 91.66667%;
  }
  .z-col-md-12 {
    width: 100%;
  }
  .z-col-md-pull-0 {
    right: auto;
  }
  .z-col-md-pull-1 {
    right: 8.33333%;
  }
  .z-col-md-pull-2 {
    right: 16.66667%;
  }
  .z-col-md-pull-3 {
    right: 25%;
  }
  .z-col-md-pull-4 {
    right: 33.33333%;
  }
  .z-col-md-pull-5 {
    right: 41.66667%;
  }
  .z-col-md-pull-6 {
    right: 50%;
  }
  .z-col-md-pull-7 {
    right: 58.33333%;
  }
  .z-col-md-pull-8 {
    right: 66.66667%;
  }
  .z-col-md-pull-9 {
    right: 75%;
  }
  .z-col-md-pull-10 {
    right: 83.33333%;
  }
  .z-col-md-pull-11 {
    right: 91.66667%;
  }
  .z-col-md-pull-12 {
    right: 100%;
  }
  .z-col-md-push-0 {
    left: auto;
  }
  .z-col-md-push-1 {
    left: 8.33333%;
  }
  .z-col-md-push-2 {
    left: 16.66667%;
  }
  .z-col-md-push-3 {
    left: 25%;
  }
  .z-col-md-push-4 {
    left: 33.33333%;
  }
  .z-col-md-push-5 {
    left: 41.66667%;
  }
  .z-col-md-push-6 {
    left: 50%;
  }
  .z-col-md-push-7 {
    left: 58.33333%;
  }
  .z-col-md-push-8 {
    left: 66.66667%;
  }
  .z-col-md-push-9 {
    left: 75%;
  }
  .z-col-md-push-10 {
    left: 83.33333%;
  }
  .z-col-md-push-11 {
    left: 91.66667%;
  }
  .z-col-md-push-12 {
    left: 100%;
  }
  .z-col-md-offset-0 {
    margin-left: 0%;
  }
  .z-col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .z-col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .z-col-md-offset-3 {
    margin-left: 25%;
  }
  .z-col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .z-col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .z-col-md-offset-6 {
    margin-left: 50%;
  }
  .z-col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .z-col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .z-col-md-offset-9 {
    margin-left: 75%;
  }
  .z-col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .z-col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .z-col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .z-col-lg-1, .z-col-lg-2, .z-col-lg-3, .z-col-lg-4, .z-col-lg-5, .z-col-lg-6, .z-col-lg-7, .z-col-lg-8, .z-col-lg-9, .z-col-lg-10, .z-col-lg-11, .z-col-lg-12 {
    float: left;
  }
  .z-col-lg-1 {
    width: 8.33333%;
  }
  .z-col-lg-2 {
    width: 16.66667%;
  }
  .z-col-lg-3 {
    width: 25%;
  }
  .z-col-lg-4 {
    width: 33.33333%;
  }
  .z-col-lg-5 {
    width: 41.66667%;
  }
  .z-col-lg-6 {
    width: 50%;
  }
  .z-col-lg-7 {
    width: 58.33333%;
  }
  .z-col-lg-8 {
    width: 66.66667%;
  }
  .z-col-lg-9 {
    width: 75%;
  }
  .z-col-lg-10 {
    width: 83.33333%;
  }
  .z-col-lg-11 {
    width: 91.66667%;
  }
  .z-col-lg-12 {
    width: 100%;
  }
  .z-col-lg-pull-0 {
    right: auto;
  }
  .z-col-lg-pull-1 {
    right: 8.33333%;
  }
  .z-col-lg-pull-2 {
    right: 16.66667%;
  }
  .z-col-lg-pull-3 {
    right: 25%;
  }
  .z-col-lg-pull-4 {
    right: 33.33333%;
  }
  .z-col-lg-pull-5 {
    right: 41.66667%;
  }
  .z-col-lg-pull-6 {
    right: 50%;
  }
  .z-col-lg-pull-7 {
    right: 58.33333%;
  }
  .z-col-lg-pull-8 {
    right: 66.66667%;
  }
  .z-col-lg-pull-9 {
    right: 75%;
  }
  .z-col-lg-pull-10 {
    right: 83.33333%;
  }
  .z-col-lg-pull-11 {
    right: 91.66667%;
  }
  .z-col-lg-pull-12 {
    right: 100%;
  }
  .z-col-lg-push-0 {
    left: auto;
  }
  .z-col-lg-push-1 {
    left: 8.33333%;
  }
  .z-col-lg-push-2 {
    left: 16.66667%;
  }
  .z-col-lg-push-3 {
    left: 25%;
  }
  .z-col-lg-push-4 {
    left: 33.33333%;
  }
  .z-col-lg-push-5 {
    left: 41.66667%;
  }
  .z-col-lg-push-6 {
    left: 50%;
  }
  .z-col-lg-push-7 {
    left: 58.33333%;
  }
  .z-col-lg-push-8 {
    left: 66.66667%;
  }
  .z-col-lg-push-9 {
    left: 75%;
  }
  .z-col-lg-push-10 {
    left: 83.33333%;
  }
  .z-col-lg-push-11 {
    left: 91.66667%;
  }
  .z-col-lg-push-12 {
    left: 100%;
  }
  .z-col-lg-offset-0 {
    margin-left: 0%;
  }
  .z-col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .z-col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .z-col-lg-offset-3 {
    margin-left: 25%;
  }
  .z-col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .z-col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .z-col-lg-offset-6 {
    margin-left: 50%;
  }
  .z-col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .z-col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .z-col-lg-offset-9 {
    margin-left: 75%;
  }
  .z-col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .z-col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .z-col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media (max-width: 767px) {
  .z-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .z-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .z-hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .z-hidden-lg {
    display: none !important;
  }
}
@media (max-width: 1366px) {
  .z-hidden-xlg {
    display: none !important;
  }
}
.hidden { display: none!important; visibility: hidden!important; }
.visible { display: block!important; visibility: visible; }
.form-section { width: 100%; position: relative;}
.form-control {
  font-size: 15px;
  display: block;
  width: 100%!important;
  min-height: 40px;
  margin: 0 auto!important;
  padding: 0 10px!important;
  letter-spacing: 1px;
  outline: none!important;
  font-family: 'Open Sans', sans-serif!important;
}
.form-control:-moz-placeholder {
color: #cfcfcf;
font-size: 15px;
}
.form-control::-moz-placeholder {
color: #cfcfcf;
font-size: 15px;
}
.form-control:-ms-input-placeholder {
color: #cfcfcf;
font-size: 15px;
}
.form-addon {
  position: absolute!important;
  top: 0;
  right: 0;
  width: 60px;
  height: 40px;
  bottom: 0;
  padding: 0!important;
  color: #333;
}
.form-control.has-addon {
  padding-right: 60px!important;
}
.form-control.btn {
  border: none;
  display: block;
  background-color: transparent;
}
.form-control.btn:hover,
.form-control.btn:focus {
  border-style: inset;
  border-color: rgba(220, 220, 220, .7);
  border-width: 1px;
}
.form-label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
  width: 100%;
  text-align: right;
}
.z-lbl {
  /*font-weight: 600!important;*/
}
@media (max-width: 768px) {
  .form-label {
    text-align: left;
  }
}
@-webkit-keyframes bounceDiv {
  0%   {margin-top: 0px;}
  50%  {margin-top: 15px;}
  100% {margin-top: 0px;}
}
@keyframes bounceDiv {
  0%   {margin-top: 0px;}
  50%  {margin-top: 15px;}
  100% {margin-top: 0px;}
}
.bounce{
  -webkit-animation-name: bounceDiv;
          animation-name: bounceDiv;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.overflowHidden{
  overflow: hidden !important;
}
.overflowXauto{overflow-x: auto !important;}
.overflowAuto{overflow: auto !important;}
.cursorPointer{
  cursor: pointer !important;
}
.z-popup {
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: rgba(120, 120, 120, 0.5);
}

.z-popup-close {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
}

.z-popup-content {
  position: relative;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
/*----*/
.mTop2{margin-top: 2px;} .mTop5{margin-top: 5px;}
.mTop10{ margin-top: 10px !important;}
.hasloader {}
/*body.loading { overflow: hidden; }*/
.z-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}
.z-index2 { z-index: 2 !important; } .z-index4 { z-index: 4 !important; }
.z-index6 { z-index: 6 !important; } .z-index8 { z-index: 8 !important; }
.z-index10 { z-index: 10 !important; } .z-index12 { z-index: 12 !important; }
.z-index14 { z-index: 14 !important; } .z-index16 { z-index: 16 !important; }
.z-index18 { z-index: 18 !important; } .z-index20 { z-index: 20 !important; }
.z-index25 { z-index: 25 !important; } .z-index30 { z-index: 30 !important; }

.z-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.z-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.z-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.z-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.z-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.z-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.z-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.z-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
.bgCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(80, 79, 68, .5)!important;
}
.fixed {
  position: fixed;
}
